# The flag 'background_color' set the background of the Panda3D environment.
# The default value for this flag is 0.2, 0.2, 0.2.
background_color=1,1,1

# Screen resolution.
screen_resolution=1680x1050

# Flag for fullscreen mode.
fullscreen = 0

# new fields in the config file.
show_cube_lines=True
mouse_scroll_size=5.0

objectcube_debug = 1
dataAccessType = POSTGRESQL

